openapi: 3.0.3
info:
  title: Discloud API
  description: >-
    Bem Vindo à API da Discloud! Sinta-se à vontade para consultar e experimentar todas as rotas da nossa API nesta página!
  termsOfService: https://discloudbot.com/legal/terms
  version: 2.0.0
  contact:
    name: Suporte Discloud
    url: https://discord.com/channels/@me/930852077045940224/
    email: support@discloudbot.com
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
    - object: block
      type: paragraph
      isVoid: false
      data: {}
      nodes:
      - object: text
        leaves:
        - object: leaf
          text: >-
            Bem Vindo à API da Discloud! Sinta-se à vontade para consultar e experimentar todas as rotas da nossa API nesta página!
          marks: []
  x-gitbook-description-html: >-
    <p>Bem Vindo à API da Discloud! Sinta-se à vontade para consultar e experimentar todas as rotas da nossa API nesta página!</p>
servers:
- url: https://api.discloud.app/v2
  description: Servidor API
  x-gitbook-description-html: <p>Servidor API</p>
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    User:
      type: object
      properties:
        userID:
          type: string
          description: O ID do usuário
          x-gitbook-description-html: <p>O ID do usuário</p>
        totalRamMb:
          type: integer
          description: RAM total alocada (em MB)
          x-gitbook-description-html: <p>RAM total alocada (em MB)</p>
        ramUsedMb:
          type: integer
          description: RAM atualmente sendo usada (em MB)
          x-gitbook-description-html: <p>RAM atualmente sendo usada (em MB)</p>
        subdomains:
          type: array
          items:
            type: string
          description: Lista de subdomínios pertencentes
          x-gitbook-description-html: <p>Lista de subdomínios pertencentes</p>
        customdomains:
          type: array
          items:
            type: string
          description: Lista de domínios personalizados pertencentes
          x-gitbook-description-html: <p>Lista de domínios personalizados pertencentes</p>
        apps:
          type: array
          items:
            type: string
          description: Lista de IDs das aplicações pertencentes
          x-gitbook-description-html: <p>Lista de IDs das aplicações pertencentes</p>
        plan:
          type: string
          description: O plano de assinatura
          x-gitbook-description-html: <p>O plano de assinatura</p>
        locale:
          type: string
          description: O idioma/localização
          x-gitbook-description-html: <p>O idioma/localização</p>
        lastDataLeft:
          type: object
          properties:
            days:
              type: integer
              description: Dias restantes no plano atual
              x-gitbook-description-html: <p>Dias restantes no plano atual</p>
            hours:
              type: integer
              description: Horas restantes no plano atual
              x-gitbook-description-html: <p>Horas restantes no plano atual</p>
            minutes:
              type: integer
              description: Minutos restantes no plano atual
              x-gitbook-description-html: <p>Minutos restantes no plano atual</p>
            seconds:
              type: integer
              description: Segundos restantes no plano atual
              x-gitbook-description-html: <p>Segundos restantes no plano atual</p>
          description: Tempo restante do plano atual
          x-gitbook-description-html: <p>Tempo restante do plano atual</p>
        planDataEnd:
          type: string
          format: date-time
          description: Data de término do plano atual
          x-gitbook-description-html: <p>Data de término do plano atual</p>
    UserResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        user:
          $ref: '#/components/schemas/User'
    LocaleResponse:
      type: object
      properties:
        status:
          type: string
        locale:
          type: string
          enum:
          - pt-BR
          - en-US
    LocaleErrorResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        localeList:
          type: array
          items:
            type: string
    UploadErrorResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    App:
      type: object
      properties:
        id:
          type: string
          description: ID da aplicação
          x-gitbook-description-html: <p>ID da aplicação</p>
        avatarURL:
          type: string
          description: URL para a imagem do avatar da aplicação
          x-gitbook-description-html: <p>URL para a imagem do avatar da aplicação</p>
        name:
          type: string
          description: Nome da aplicação
          x-gitbook-description-html: <p>Nome da aplicação</p>
        type:
          type: integer
          description: Tipo de aplicação
          x-gitbook-description-html: <p>Tipo de aplicação</p>
        online:
          type: boolean
          description: Se a aplicação está atualmente online
          x-gitbook-description-html: <p>Se a aplicação está atualmente online</p>
        ramKilled:
          type: boolean
          description: >-
            Se a aplicação foi desligada devido a ultrapassagem da quantidade de RAM
          x-gitbook-description-html: >-
            <p>Se a aplicação foi desligada devido a ultrapassagem da quantidade de RAM</p>
        exitCode:
          type: integer
          description: Código de saída da aplicação, se ele foi interrompido
          x-gitbook-description-html: <p>Código de saída da aplicação, se ele foi interrompido</p>
        ram:
          type: integer
          description: RAM alocada para a aplicação (em MB)
          x-gitbook-description-html: <p>RAM alocada para a aplicação (em MB)</p>
        mainFile:
          type: string
          description: Caminho do arquivo principal da aplicação
          x-gitbook-description-html: <p>Caminho do arquivo principal da aplicação</p>
        lang:
          type: string
          description: Linguagem de programação da aplicação
          x-gitbook-description-html: <p>Linguagem de programação da aplicação</p>
        autoDeployGit:
          type: string
          description: Configuração Git/GitHub
          x-gitbook-description-html: <p>Configuração Git/GitHub</p>
        autoRestart:
          type: boolean
          description: Se a aplicação reinicia automaticamente em caso de falha
          x-gitbook-description-html: <p>Se a aplicação reinicia automaticamente em caso de falha</p>
    AppResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        apps:
          oneOf:
          - $ref: '#/components/schemas/App'
          - type: array
            items:
              $ref: '#/components/schemas/App'
    AppStatus:
      type: object
      properties:
        id:
          type: string
          description: ID da aplicação
          x-gitbook-description-html: <p>ID da aplicação</p>
        container:
          type: string
          description: Status do contêiner da aplicação
          x-gitbook-description-html: <p>Status do contêiner da aplicação</p>
        cpu:
          type: string
          description: Uso atual de CPU da aplicação
          x-gitbook-description-html: <p>Uso atual de CPU da aplicação</p>
        memory:
          type: string
          description: Uso e alocação de memória atual
          x-gitbook-description-html: <p>Uso e alocação de memória atual</p>
        ssd:
          type: string
          description: Espaço de armazenamento usado pela aplicação
          x-gitbook-description-html: <p>Espaço de armazenamento usado pela aplicação</p>
        netIO:
          type: object
          properties:
            down:
              type: string
              description: Uso de download de rede
              x-gitbook-description-html: <p>Uso de download de rede</p>
            up:
              type: string
              description: Uso de upload de rede
              x-gitbook-description-html: <p>Uso de upload de rede</p>
        last_restart:
          type: string
          description: Tempo desde a última reinicialização da aplicação
          x-gitbook-description-html: <p>Tempo desde a última reinicialização da aplicação</p>
        startedAt:
          type: string
          format: date-time
          description: Timestamp de quando a aplicação foi iniciada
          x-gitbook-description-html: <p>Timestamp de quando a aplicação foi iniciada</p>
    AppStatusResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        apps:
          oneOf:
          - $ref: '#/components/schemas/AppStatus'
          - type: array
            items:
              $ref: '#/components/schemas/AppStatus'
    AppLogs:
      type: object
      properties:
        id:
          type: string
          description: ID da aplicação
          x-gitbook-description-html: <p>ID da aplicação</p>
        terminal:
          type: object
          properties:
            big:
              type: string
              description: Logs completos da aplicação
              x-gitbook-description-html: <p>Logs completos da aplicação</p>
            small:
              type: string
              description: Logs condensados da aplicação
              x-gitbook-description-html: <p>Logs condensados da aplicação</p>
            url:
              type: string
              description: URL para visualizar os logs online
              x-gitbook-description-html: <p>URL para visualizar os logs online</p>
    AppLogsResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        apps:
          oneOf:
          - $ref: '#/components/schemas/AppLogs'
          - type: array
            items:
              $ref: '#/components/schemas/AppLogs'
    AppBackup:
      type: object
      properties:
        id:
          type: string
          description: ID da aplicação
          x-gitbook-description-html: <p>ID da aplicação</p>
        url:
          type: string
          description: URL para baixar o backup da aplicação
          x-gitbook-description-html: <p>URL para baixar o backup da aplicação</p>
    AppBackupResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        backups:
          oneOf:
          - $ref: '#/components/schemas/AppBackup'
          - type: array
            items:
              $ref: '#/components/schemas/AppBackup'
    AppStartStatus:
      type: object
      properties:
        online:
          type: boolean
          description: Se a aplicaçãoestá online
          x-gitbook-description-html: <p>Se a aplicaçãoestá online</p>
        ramKilled:
          type: boolean
          description: >-
            Se a aplicação foi desligada devido a ultrapassagem da quantidade de RAM
          x-gitbook-description-html: >-
            <p>Se a aplicação foi desligada devido a ultrapassagem da quantidade de RAM</p>
        exitCode:
          type: integer
          description: O código de saída do processo da aplicação
          x-gitbook-description-html: <p>O código de saída do processo da aplicação</p>
    AppStartResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        appStatus:
          $ref: '#/components/schemas/AppStartStatus'
    AppRestartResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    AppStopResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    AppRamUpdateRequest:
      type: object
      required:
      - ramMB
      properties:
        ramMB:
          type: integer
          description: A quantidade de RAM em MB para alocar a aplicação
          example: 200
          x-gitbook-description-html: <p>A quantidade de RAM em MB para alocar a aplicação</p>
    AppRamUpdateResponse:
      type: object
      properties:
        status:
          type: string
        statusCode:
          type: integer
        message:
          type: string
    AppDeleteResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    AppProfileUpdateRequest:
      type: object
      required:
      - avatarURL
      - name
      properties:
        avatarURL:
          type: string
          description: URL para a imagem do avatar da aplicação
          example: https://i.ibb.co/0yJhZw92/Uma01.png
          x-gitbook-description-html: <p>URL para a imagem do avatar da aplicação</p>
        name:
          type: string
          description: Nome da aplicação
          example: Discloud App
          x-gitbook-description-html: <p>Nome da aplicação</p>
    AppProfileUpdateResponse:
      type: object
      properties:
        status:
          type: string
        statusCode:
          type: integer
        message:
          type: string
    ExecRequest:
      properties:
        cmd:
          type: string
          description: Comando a ser executado no container
          x-gitbook-description-html: <p>Comando a ser executado no container</p>
      type: object
      required:
      - cmd
    ExecOutput:
      properties:
        stdout:
          type: string
          description: Saída padrão do comando
          x-gitbook-description-html: <p>Saída padrão do comando</p>
        stderr:
          type: string
          description: Erro padrão do comando
          x-gitbook-description-html: <p>Erro padrão do comando</p>
        exitCode:
          type: integer
          description: Código de saída do comando
          x-gitbook-description-html: <p>Código de saída do comando</p>
      type: object
    ExecResponse:
      properties:
        status:
          type: string
        statusCode:
          type: integer
        message:
          type: string
        exec:
          oneOf:
          - $ref: '#/components/schemas/ExecOutput'
          - type: object
            nullable: true
      type: object
    FileItem:
      type: object
      properties:
        size:
          type: integer
          description: Tamanho do arquivo em bytes (apenas para arquivos)
          x-gitbook-description-html: <p>Tamanho do arquivo em bytes (apenas para arquivos)</p>
        name:
          type: string
          description: Nome do arquivo ou diretório
          x-gitbook-description-html: <p>Nome do arquivo ou diretório</p>
        type:
          enum:
          - file
          - directory
          description: Tipo de item
          type: string
          x-gitbook-description-html: <p>Tipo de item</p>
    ExplorerListResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        path:
          type: string
          description: Caminho do diretório atual
          x-gitbook-description-html: <p>Caminho do diretório atual</p>
        dir:
          type: array
          items:
            $ref: '#/components/schemas/FileItem'
    ExplorerOpenResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        path:
          type: string
          description: Caminho completo do arquivo
          x-gitbook-description-html: <p>Caminho completo do arquivo</p>
        name:
          type: string
          description: Nome do arquivo
          x-gitbook-description-html: <p>Nome do arquivo</p>
        content:
          type: string
          description: Conteúdo do arquivo
          x-gitbook-description-html: <p>Conteúdo do arquivo</p>
        message:
          type: string
    ExplorerEditRequest:
      type: object
      required:
      - cPath
      - fileContent
      properties:
        fileContent:
          type: string
          description: Novo conteúdo do arquivo
          x-gitbook-description-html: <p>Novo conteúdo do arquivo</p>
        cPath:
          type: string
          description: Caminho completo do arquivo
          x-gitbook-description-html: <p>Caminho completo do arquivo</p>
    ExplorerCreateRequest:
      type: object
      required:
      - cPath
      - typeFile
      properties:
        typeFile:
          enum:
          - file
          - directory
          description: Tipo a criar
          type: string
          x-gitbook-description-html: <p>Tipo a criar</p>
        cPath:
          type: string
          description: Caminho completo para o novo arquivo ou diretório
          x-gitbook-description-html: <p>Caminho completo para o novo arquivo ou diretório</p>
    ExplorerOperationResponse:
      type: object
      properties:
        status:
          type: string
          example: ok
        path:
          type: string
          description: Caminho do alvo da operação
          x-gitbook-description-html: <p>Caminho do alvo da operação</p>
    Subdomain:
      type: object
      properties:
        id:
          type: string
        userID:
          type: string
        status:
          type: integer
        date:
          type: integer
          description: Timestamp de criação em milissegundos
    SubdomainResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        subdomain:
          $ref: '#/components/schemas/Subdomain'
    SubdomainListResponse:
      type: object
      properties:
        status:
          type: string
        subdomains:
          type: array
          items:
            $ref: '#/components/schemas/Subdomain'
    DnsInstruction:
      type: object
      properties:
        type:
          type: string
        name:
          type: string
        content:
          type: string
    CustomDomainApp:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        online:
          type: boolean
        type:
          type: integer
    CustomDomain:
      type: object
      properties:
        id:
          type: string
        dns_status:
          type: string
        date:
          type: integer
        isLegacy:
          type: boolean
        valid:
          type: boolean
        message:
          type: string
        app:
          $ref: '#/components/schemas/CustomDomainApp'
        instructions:
          type: array
          items:
            $ref: '#/components/schemas/DnsInstruction'
    CustomDomainResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        domain:
          $ref: '#/components/schemas/CustomDomain'
    CustomDomainListResponse:
      type: object
      properties:
        status:
          type: string
        domains:
          type: array
          items:
            $ref: '#/components/schemas/CustomDomain'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api-token
security:
- ApiKeyAuth: []
tags:
- name: Usuário
  description: Operações sobre usuários
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
    - object: block
      type: paragraph
      isVoid: false
      data: {}
      nodes:
      - object: text
        leaves:
        - object: leaf
          text: Operações sobre usuários
          marks: []
  x-gitbook-description-html: <p>Operações sobre usuários</p>
- name: Aplicações
  description: Operações sobre Aplicações
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
    - object: block
      type: paragraph
      isVoid: false
      data: {}
      nodes:
      - object: text
        leaves:
        - object: leaf
          text: Operações sobre Aplicações
          marks: []
  x-gitbook-description-html: <p>Operações sobre Aplicações</p>
- name: Gerenciamento de Equipe
  description: Operações sobre gerenciamento de equipe
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
    - object: block
      type: paragraph
      isVoid: false
      data: {}
      nodes:
      - object: text
        leaves:
        - object: leaf
          text: Operações sobre gerenciamento de equipe
          marks: []
  x-gitbook-description-html: <p>Operações sobre gerenciamento de equipe</p>
- name: Membro da Equipe
  description: Operações sobre membros da equipe
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
    - object: block
      type: paragraph
      isVoid: false
      data: {}
      nodes:
      - object: text
        leaves:
        - object: leaf
          text: Operações sobre membros da equipe
          marks: []
  x-gitbook-description-html: <p>Operações sobre membros da equipe</p>
- name: Subdomínios
  description: Operações sobre subdomínios
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
    - object: block
      type: paragraph
      isVoid: false
      data: {}
      nodes:
      - object: text
        leaves:
        - object: leaf
          text: Operações sobre subdomínios
          marks: []
  x-gitbook-description-html: <p>Operações sobre subdomínios</p>
- name: Domínios Customizados
  description: Operações sobre domínios customizados
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
    - object: block
      type: paragraph
      isVoid: false
      data: {}
      nodes:
      - object: text
        leaves:
        - object: leaf
          text: Operações sobre domínios customizados
          marks: []
  x-gitbook-description-html: <p>Operações sobre domínios customizados</p>
- name: Snapshot
  description: Operações sobre backups versionados (snapshots)
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
    - object: block
      type: paragraph
      isVoid: false
      data: {}
      nodes:
      - object: text
        leaves:
        - object: leaf
          text: Operações sobre backups versionados (snapshots)
          marks: []
  x-gitbook-description-html: <p>Operações sobre backups versionados (snapshots)</p>
- name: Variáveis de Ambiente
  description: Operações sobre variáveis de ambiente (conta, projeto e app)
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
    - object: block
      type: paragraph
      isVoid: false
      data: {}
      nodes:
      - object: text
        leaves:
        - object: leaf
          text: Operações sobre variáveis de ambiente (conta, projeto e app)
          marks: []
  x-gitbook-description-html: <p>Operações sobre variáveis de ambiente (conta, projeto e app)</p>
- name: Projetos
  description: Operações sobre projetos (agrupamento de apps)
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
    - object: block
      type: paragraph
      isVoid: false
      data: {}
      nodes:
      - object: text
        leaves:
        - object: leaf
          text: Operações sobre projetos (agrupamento de apps)
          marks: []
  x-gitbook-description-html: <p>Operações sobre projetos (agrupamento de apps)</p>
- name: Bancos de Dados
  description: >-
    Operações sobre bancos de dados gerenciados (criar, ciclo de vida, backups e logs).
    Requer plano Diamond (4) ou superior para criar/restaurar. Create e restore
    respondem de imediato com um id; consulte GET /database/{dbID} para o estado.
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
    - object: block
      type: paragraph
      isVoid: false
      data: {}
      nodes:
      - object: text
        leaves:
        - object: leaf
          text: Operações sobre bancos de dados gerenciados (criar, ciclo de vida, backups e logs)
          marks: []
  x-gitbook-description-html: >-
    <p>Operações sobre bancos de dados gerenciados (criar, ciclo de vida, backups e logs).
    Requer plano Diamond (4) ou superior para criar/restaurar. Create e restore
    respondem de imediato com um id; consulte GET /database/{dbID} para o estado.</p>
paths:
  /user:
    get:
      tags:
      - Usuário
      summary: Obter informações do usuário atual
      description: Retorna informações sobre o usuário autenticado
      operationId: getCurrentUser
      responses:
        '200':
          description: Operação bem-sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
              example:
                status: ok
                message: Os dados do usuário foram carregados com sucesso
                user:
                  userID: '803658045736878080'
                  totalRamMb: 16384
                  ramUsedMb: 3386
                  subdomains:
                  - exemplo
                  customdomains:
                  - example.discloud.com
                  apps:
                  - '1719010867306'
                  plan: Safira
                  locale: pt-BR
                  lastDataLeft:
                    days: 264
                    hours: 12
                    minutes: 6
                    seconds: 56
                  planDataEnd: '2026-01-12T22:28:58.189Z'
          x-gitbook-description-html: <p>Operação bem-sucedida</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Bloqueado
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Por favor, forneça um token válido
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: Retorna informações sobre o usuário autenticado
              marks: []
      x-gitbook-description-html: <p>Retorna informações sobre o usuário autenticado</p>
  /locale/{locale}:
    put:
      tags:
      - Usuário
      summary: Atualizar local do usuário
      description: Atualiza o idioma preferido do usuário
      operationId: updateUserLocale
      parameters:
      - name: locale
        in: path
        required: true
        description: O idioma a ser definido para o usuário
        schema:
          type: string
          enum:
          - pt-BR
          - en-US
        x-gitbook-description-html: <p>O idioma a ser definido para o usuário</p>
      responses:
        '200':
          description: Idioma atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocaleResponse'
              example:
                status: ok
                locale: en-US
          x-gitbook-description-html: <p>Idioma atualizado com sucesso</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalidToken:
                  value:
                    message: Por favor, forneça um token válido
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '404':
          description: Idioma especificado inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocaleErrorResponse'
              example:
                status: error
                message: A tradução para a linguagem fr-FR ainda não existe.
                localeList:
                - pt-BR
                - en-US
          x-gitbook-description-html: <p>Idioma especificado inválido</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: Atualiza o idioma preferido do usuário
              marks: []
      x-gitbook-description-html: <p>Atualiza o idioma preferido do usuário</p>
  /upload:
    post:
      tags:
      - Aplicações
      summary: Fazer upload da aplicação
      description: Faz upload de uma nova aplicação para a Discloud
      operationId: uploadApplication
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Arquivo da aplicação para fazer upload (formato .ZIP)
                  x-gitbook-description-html: <p>Arquivo da aplicação para fazer upload (formato .ZIP)</p>
                projectId:
                  type: string
                  description: ID do projeto ao qual a aplicação será vinculada no upload (opcional).
                  x-gitbook-description-html: >-
                    <p>ID do projeto ao qual a aplicação será vinculada no upload (opcional).</p>
      responses:
        '200':
          description: Resposta do upload
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                    message:
                      type: string
                - $ref: '#/components/schemas/UploadErrorResponse'
              examples:
                success:
                  summary: Upload bem-sucedido
                  value:
                    status: ok
                    statusCode: 200
                    message: Sua aplicação foi hospedada com sucesso.
                    app:
                      id: '1745338954955'
                      type: 0
                      name: Bot javascript
                      avatarURL: https://i.imgur.com/bWhx7OT.png
                      ram: 100
                      apts: ''
                      clusterName: fenrir
                      exitCode: 0
                      online: true
                      ramKilled: false
                      syncGit: null
                      mainFile: index.js
                      lang: javascript
                      version: latest
                      addedAtTimestamp: 1719010867306
                      autoRestart: false
                missingConfigFile:
                  value:
                    status: error
                    statusCode: 93
                    message: >-
                      O arquivo discloud.config não foi encontrado dentro do .zip enviado.
                  summary: Arquivo discloud.config ausente
                planLimitReached:
                  value:
                    status: error
                    message: >-
                      Você atingiu o limite de aplicações que pode hospedar ou alocou toda a RAM disponível do seu plano.
                  summary: Limite do plano atingido
          x-gitbook-description-html: <p>Resposta do upload</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Bloqueado
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Por favor, forneça um token válido
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '404':
          description: Arquivo obrigatório ausente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadErrorResponse'
              example:
                status: error
                message: Arquivo obrigatório
          x-gitbook-description-html: <p>Arquivo obrigatório ausente</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: Faz upload de uma nova aplicação para a Discloud
              marks: []
      x-gitbook-description-html: <p>Faz upload de uma nova aplicação para a Discloud</p>
  /app/{appID}:
    get:
      tags:
      - Aplicações
      summary: Obter informações da aplicação
      description: >-
        Recupera informações sobre uma aplicação específica ou todas as aplicações
      operationId: getAppInfo
      parameters:
      - name: appID
        in: path
        required: true
        description: ID da aplicação ou "all" para recuperar todas as aplicações
        schema:
          type: string
        x-gitbook-description-html: <p>ID da aplicação ou "all" para recuperar todas as aplicações</p>
      responses:
        '200':
          description: Informações da aplicação recuperadas com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppResponse'
              example:
                status: ok
                message: As informações da sua aplicação foram carregadas.
                apps:
                  id: '1745338954955'
                  avatarURL: https://i.ibb.co/xSxd0Hv1/Uma105.png
                  name: Temp2 - JS
                  type: 0
                  online: true
                  ramKilled: false
                  exitCode: 0
                  ram: 100
                  mainFile: src/index.js
                  lang: javascript
                  autoDeployGit: 'no'
                  autoRestart: false
          x-gitbook-description-html: <p>Informações da aplicação recuperadas com sucesso</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Bloqueado
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Por favor, forneça um token válido
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '404':
          description: Aplicação não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadErrorResponse'
              example:
                status: error
                message: Aplicação não encontrada
          x-gitbook-description-html: <p>Aplicação não encontrada</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: >-
                Recupera informações sobre uma aplicação específica ou todas as aplicações
              marks: []
      x-gitbook-description-html: >-
        <p>Recupera informações sobre uma aplicação específica ou todas as aplicações</p>
  /app/{appID}/status:
    get:
      tags:
      - Aplicações
      summary: Obter status da aplicação
      description: >-
        Recupera informações de status sobre uma aplicação específica ou todas as aplicações
      operationId: getAppStatus
      parameters:
      - name: appID
        in: path
        required: true
        description: >-
          ID da aplicação ou "all" para recuperar status de todas as aplicações
        schema:
          type: string
        x-gitbook-description-html: >-
          <p>ID da aplicação ou "all" para recuperar status de todas as aplicações</p>
      responses:
        '200':
          description: Status da aplicação obtido com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStatusResponse'
              example:
                status: ok
                message: Os status de sua aplicação foram carregados.
                apps:
                  id: '1745338954955'
                  container: Online
                  cpu: 0.00%
                  memory: 39.9MB/100MB
                  ssd: 1.999GB
                  netIO:
                    down: 61KB
                    up: 16KB
                  last_restart: 30 minutos
                  startedAt: '2025-04-22T16:24:55.978921501Z'
          x-gitbook-description-html: <p>Status da aplicação obtido com sucesso</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Bloqueado
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Por favor, forneça um token válido
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '404':
          description: Aplicação não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadErrorResponse'
              example:
                status: error
                message: Aplicação não encontrada
          x-gitbook-description-html: <p>Aplicação não encontrada</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: >-
                Recupera informações de status sobre uma aplicação específica ou todas as aplicações
              marks: []
      x-gitbook-description-html: >-
        <p>Recupera informações de status sobre uma aplicação específica ou todas as aplicações</p>
  /app/{appID}/logs:
    get:
      tags:
      - Aplicações
      summary: Obter logs da aplicação
      description: Recupera os logs de uma aplicação específica ou de todas as aplicações
      operationId: getAppLogs
      parameters:
      - name: appID
        in: path
        required: true
        description: ID da aplicação ou "all" para recuperar logs de todas as aplicações
        schema:
          type: string
        x-gitbook-description-html: >-
          <p>ID da aplicação ou "all" para recuperar logs de todas as aplicações</p>
      responses:
        '200':
          description: Logs da aplicação recuperados com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppLogsResponse'
              example:
                status: ok
                message: Os logs de suas aplicações foram carregados.
                apps:
                  id: '1745338954955'
                  terminal:
                    big: >-
                      2025-04-22T14:30:00.123Z Aplicação iniciando...

                      2025-04-22T14:30:01.234Z Ambiente: produção

                      2025-04-22T14:30:01.567Z Carregando arquivos de configuração...

                      2025-04-22T14:30:02.123Z Conexão com banco de dados estabelecida

                      2025-04-22T14:30:02.456Z Inicializando módulos do servidor

                      2025-04-22T14:30:03.678Z Servidor ouvindo na porta 3000

                      2025-04-22T14:30:04.123Z Serviço WebSocket inicializado

                      2025-04-22T14:30:04.567Z Cache aquecendo

                      2025-04-22T14:30:05.234Z Inicialização da aplicação completa

                      2025-04-22T14:30:06.123Z Processando solicitações iniciais
                    small: >-
                      2025-04-22T14:30:00.123Z Aplicação iniciando...

                      2025-04-22T14:30:02.123Z Conexão com banco de dados estabelecida

                      2025-04-22T14:30:03.678Z Servidor ouvindo na porta 3000

                      2025-04-22T14:30:05.234Z Inicialização da aplicação completa
                    url: discloud.app
          x-gitbook-description-html: <p>Logs da aplicação recuperados com sucesso</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Bloqueado
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Por favor, forneça um token válido
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '404':
          description: Aplicação não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadErrorResponse'
              example:
                status: error
                message: Aplicação não encontrada
          x-gitbook-description-html: <p>Aplicação não encontrada</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: >-
                Recupera os logs de uma aplicação específica ou de todas as aplicações
              marks: []
      x-gitbook-description-html: >-
        <p>Recupera os logs de uma aplicação específica ou de todas as aplicações</p>
  /app/{appID}/backup:
    get:
      tags:
      - Aplicações
      summary: Obter backup da aplicação
      description: >-
        Gera e recupera o backup de uma aplicação específica ou de todas as aplicações
      operationId: getAppBackup
      parameters:
      - name: appID
        in: path
        required: true
        description: >-
          ID da aplicação ou "all" para recuperar backups de todas as aplicações
        schema:
          type: string
        x-gitbook-description-html: >-
          <p>ID da aplicação ou "all" para recuperar backups de todas as aplicações</p>
      responses:
        '200':
          description: Backup da aplicação gerado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppBackupResponse'
              example:
                status: ok
                message: O backup da sua aplicação será gerado com sucesso
                backups:
                  id: '1745338954955'
                  url: >-
                    https://discloud.app/backup/A1B2C3D4E5F6G7H8I9J0K1L2M3N4O5P6Q7R8S9T0U1V2W3X4Y5Z6.zip
          x-gitbook-description-html: <p>Backup da aplicação gerado com sucesso</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Bloqueado
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Por favor, forneça um token válido
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '404':
          description: Aplicação não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadErrorResponse'
              example:
                status: error
                message: Aplicação não encontrada
          x-gitbook-description-html: <p>Aplicação não encontrada</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: >-
                Gera e recupera o backup de uma aplicação específica ou de todas as aplicações
              marks: []
      x-gitbook-description-html: >-
        <p>Gera e recupera o backup de uma aplicação específica ou de todas as aplicações</p>
  /app/{appID}/start:
    put:
      tags:
      - Aplicações
      summary: Iniciar aplicação
      description: Inicia uma aplicação específica ou todas as aplicações
      operationId: startApp
      parameters:
      - name: appID
        in: path
        required: true
        description: ID da aplicação ou "all" para iniciar todas as aplicações
        schema:
          type: string
        x-gitbook-description-html: <p>ID da aplicação ou "all" para iniciar todas as aplicações</p>
      responses:
        '200':
          description: Aplicação iniciada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStartResponse'
              examples:
                success:
                  value:
                    status: ok
                    message: Sua aplicação foi conectada.
                    appStatus:
                      online: true
                      ramKilled: false
                      exitCode: 0
                alreadyRunning:
                  value:
                    status: error
                    message: Sua aplicação já está ligada.
                    appStatus:
                      online: true
                      ramKilled: false
                      exitCode: 0
                  summary: Aplicação já está ligada
          x-gitbook-description-html: <p>Aplicação iniciada com sucesso</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Bloqueado
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Por favor, forneça um token válido
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '404':
          description: Aplicação não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadErrorResponse'
              example:
                status: error
                message: Aplicação não encontrada
          x-gitbook-description-html: <p>Aplicação não encontrada</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: Inicia uma aplicação específica ou todas as aplicações
              marks: []
      x-gitbook-description-html: <p>Inicia uma aplicação específica ou todas as aplicações</p>
  /app/{appID}/restart:
    put:
      tags:
      - Aplicações
      summary: Reiniciar aplicação
      description: Reinicia uma aplicação específica ou todas as aplicações
      operationId: restartApp
      parameters:
      - name: appID
        in: path
        required: true
        description: ID da aplicação ou "all" para reiniciar todas as aplicações
        schema:
          type: string
        x-gitbook-description-html: <p>ID da aplicação ou "all" para reiniciar todas as aplicações</p>
      responses:
        '200':
          description: Aplicação reiniciada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppRestartResponse'
              example:
                status: ok
                message: Sua aplicação foi reiniciada.
          x-gitbook-description-html: <p>Aplicação reiniciada com sucesso</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Bloqueado
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Por favor, forneça um token válido
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '404':
          description: Aplicação não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadErrorResponse'
              example:
                status: error
                message: Aplicação não encontrada
          x-gitbook-description-html: <p>Aplicação não encontrada</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: Reinicia uma aplicação específica ou todas as aplicações
              marks: []
      x-gitbook-description-html: <p>Reinicia uma aplicação específica ou todas as aplicações</p>
  /app/{appID}/stop:
    put:
      tags:
      - Aplicações
      summary: Parar aplicação
      description: Para uma aplicação específica ou todas as aplicações
      operationId: stopApp
      parameters:
      - name: appID
        in: path
        required: true
        description: ID da aplicação ou "all" para parar todas as aplicações
        schema:
          type: string
        x-gitbook-description-html: <p>ID da aplicação ou "all" para parar todas as aplicações</p>
      responses:
        '200':
          description: Resposta de parada da aplicação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppStopResponse'
              examples:
                success:
                  value:
                    status: ok
                    message: Sua aplicação foi parada.
                  summary: Aplicação parada com sucesso
                alreadyStopped:
                  value:
                    status: error
                    message: Sua aplicação já está parada.
                  summary: Aplicação já parada
          x-gitbook-description-html: <p>Resposta de parada da aplicação</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Bloqueado
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Por favor, forneça um token válido
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '404':
          description: Aplicação não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadErrorResponse'
              example:
                status: error
                message: Aplicação não encontrada
          x-gitbook-description-html: <p>Aplicação não encontrada</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: Para uma aplicação específica ou todas as aplicações
              marks: []
      x-gitbook-description-html: <p>Para uma aplicação específica ou todas as aplicações</p>
  /app/{appID}/ram:
    put:
      tags:
      - Aplicações
      summary: Atualizar RAM da aplicação
      description: Atualiza a alocação de RAM para uma aplicação específica
      operationId: updateAppRam
      parameters:
      - name: appID
        in: path
        required: true
        description: ID da aplicação para atualizar a RAM
        schema:
          type: string
        x-gitbook-description-html: <p>ID da aplicação para atualizar a RAM</p>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppRamUpdateRequest'
            example:
              ramMB: 200
      responses:
        '200':
          description: Resposta de atualização de RAM
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppRamUpdateResponse'
              examples:
                success:
                  value:
                    status: ok
                    statusCode: 200
                    message: A memória do seu aplicativo foi alterada com sucesso.
                  summary: RAM atualizada com sucesso
                insufficientRam:
                  value:
                    status: error
                    message: >-
                      Você não pode colocar 14000 mb de RAM em seu aplicativo, apenas 13098 mb de RAM estão disponíveis.
                  summary: RAM disponível insuficiente
          x-gitbook-description-html: <p>Resposta de atualização de RAM</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Bloqueado
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Por favor, forneça um token válido
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '404':
          description: Aplicação não encontrada ou limitação do plano
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadErrorResponse'
              examples:
                appNotFound:
                  value:
                    status: error
                    message: Aplicação não encontrada
                  summary: Aplicação não encontrada
                planLimitation:
                  value:
                    status: error
                    message: >-
                      A alteração da memória utilizada por aplicações está disponível apenas para doadores Carbon ou superiores.
                  summary: Limitação do plano gratuito
          x-gitbook-description-html: <p>Aplicação não encontrada ou limitação do plano</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: Atualiza a alocação de RAM para uma aplicação específica
              marks: []
      x-gitbook-description-html: <p>Atualiza a alocação de RAM para uma aplicação específica</p>
  /app/{appID}/commit:
    put:
      tags:
      - Aplicações
      summary: Atualizar código da aplicação
      description: >-
        Atualiza uma aplicação existente fazendo upload de uma nova versão do código
      operationId: commitAppChanges
      parameters:
      - name: appID
        in: path
        required: true
        description: ID da aplicação a ser atualizada
        schema:
          type: string
        x-gitbook-description-html: <p>ID da aplicação a ser atualizada</p>
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Arquivo da aplicação a ser enviado (formato .ZIP)
                  x-gitbook-description-html: <p>Arquivo da aplicação a ser enviado (formato .ZIP)</p>
      responses:
        '200':
          description: Resposta de commit
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              example:
                summary: Commit bem-sucedido (pode expirar)
                description: >-
                  Quando bem-sucedido, a solicitação pode expirar sem retornar uma resposta
          x-gitbook-description-html: <p>Resposta de commit</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Bloqueado
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Por favor, forneça um token válido
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '404':
          description: Aplicação não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadErrorResponse'
              example:
                status: error
                message: Aplicação não encontrada
          x-gitbook-description-html: <p>Aplicação não encontrada</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: >-
                Atualiza uma aplicação existente fazendo upload de uma nova versão do código
              marks: []
      x-gitbook-description-html: >-
        <p>Atualiza uma aplicação existente fazendo upload de uma nova versão do código</p>
  /app/{appID}/profile:
    put:
      tags:
      - Aplicações
      summary: Atualizar perfil da aplicação
      description: >-
        Atualiza as informações de perfil (avatar e nome) de uma aplicação específica
      operationId: updateAppProfile
      parameters:
      - name: appID
        in: path
        required: true
        description: ID da aplicação a ser atualizada
        schema:
          type: string
        x-gitbook-description-html: <p>ID da aplicação a ser atualizada</p>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppProfileUpdateRequest'
            example:
              avatarURL: https://i.ibb.co/0yJhZw92/Uma01.png
              name: Discloud App
      responses:
        '200':
          description: Perfil da aplicação atualizado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppProfileUpdateResponse'
              example:
                status: ok
                statusCode: 200
                message: Perfil modificado com sucesso!
          x-gitbook-description-html: <p>Perfil da aplicação atualizado com sucesso</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Bloqueado
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Por favor, forneça um token válido
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '404':
          description: Aplicação não encontrada
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              example:
                status: error
                message: Aplicação não encontrada
          x-gitbook-description-html: <p>Aplicação não encontrada</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: >-
                Atualiza as informações de perfil (avatar e nome) de uma aplicação específica
              marks: []
      x-gitbook-description-html: >-
        <p>Atualiza as informações de perfil (avatar e nome) de uma aplicação específica</p>
  /app/{appID}/explorer:
    get:
      tags:
      - Aplicações
      summary: Listar arquivos e pastas
      description: Lista arquivos e pastas no diretório da aplicação
      operationId: listExplorer
      parameters:
      - name: appID
        in: path
        required: true
        description: ID da aplicação
        schema:
          type: string
        x-gitbook-description-html: <p>ID da aplicação</p>
      - name: cPath
        in: query
        required: false
        description: 'Caminho do diretório (padrão: workDir da app)'
        schema:
          type: string
        x-gitbook-description-html: '<p>Caminho do diretório (padrão: workDir da app)</p>'
      responses:
        '200':
          description: Arquivos e pastas listados com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplorerListResponse'
              example:
                status: ok
                path: /root/app
                dir:
                - name: index.js
                  type: file
                  size: 1024
                - name: src
                  type: directory
          x-gitbook-description-html: <p>Arquivos e pastas listados com sucesso</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '403':
          description: Sem permissão ou plano insuficiente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          x-gitbook-description-html: <p>Sem permissão ou plano insuficiente</p>
        '404':
          description: Aplicação não encontrada ou caminho inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          x-gitbook-description-html: <p>Aplicação não encontrada ou caminho inválido</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: Lista arquivos e pastas no diretório da aplicação
              marks: []
      x-gitbook-description-html: <p>Lista arquivos e pastas no diretório da aplicação</p>
    post:
      tags:
      - Aplicações
      summary: Criar arquivo ou pasta
      description: Cria um novo arquivo ou pasta na aplicação
      operationId: createExplorer
      parameters:
      - name: appID
        in: path
        required: true
        description: ID da aplicação
        schema:
          type: string
        x-gitbook-description-html: <p>ID da aplicação</p>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExplorerCreateRequest'
      responses:
        '200':
          description: Arquivo ou pasta criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplorerOperationResponse'
              example:
                status: ok
                path: /root/app/newfile.js
          x-gitbook-description-html: <p>Arquivo ou pasta criado com sucesso</p>
        '400':
          description: Requisição inválida - campos obrigatórios faltando
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          x-gitbook-description-html: <p>Requisição inválida - campos obrigatórios faltando</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '403':
          description: Sem permissão ou plano insuficiente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          x-gitbook-description-html: <p>Sem permissão ou plano insuficiente</p>
        '404':
          description: Aplicação não encontrada ou caminho inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          x-gitbook-description-html: <p>Aplicação não encontrada ou caminho inválido</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: Cria um novo arquivo ou pasta na aplicação
              marks: []
      x-gitbook-description-html: <p>Cria um novo arquivo ou pasta na aplicação</p>
  /app/{appID}/explorer/open:
    get:
      tags:
      - Aplicações
      summary: Abrir/ler arquivo
      description: Lê o conteúdo de um arquivo na aplicação
      operationId: openExplorer
      parameters:
      - name: appID
        in: path
        required: true
        description: ID da aplicação
        schema:
          type: string
        x-gitbook-description-html: <p>ID da aplicação</p>
      - name: cPath
        in: query
        required: true
        description: Caminho completo do arquivo
        schema:
          type: string
        x-gitbook-description-html: <p>Caminho completo do arquivo</p>
      responses:
        '200':
          description: Arquivo aberto com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplorerOpenResponse'
              example:
                status: ok
                path: /root/app/index.js
                name: index.js
                content: console.log('Hello World');
                message: ''
          x-gitbook-description-html: <p>Arquivo aberto com sucesso</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Block
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '403':
          description: Sem permissão ou plano insuficiente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                message: >-
                  Você não tem permissão ou tem um plano insuficiente para usar o explorador
          x-gitbook-description-html: <p>Sem permissão ou plano insuficiente</p>
        '404':
          description: Arquivo não encontrado ou caminho inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                fileNotFound:
                  value:
                    message: File not found
                  summary: Arquivo não encontrado
                invalidPath:
                  value:
                    message: Invalid path format
                  summary: Caminho inválido
          x-gitbook-description-html: <p>Arquivo não encontrado ou caminho inválido</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: Lê o conteúdo de um arquivo na aplicação
              marks: []
      x-gitbook-description-html: <p>Lê o conteúdo de um arquivo na aplicação</p>
  /app/{appID}/explorer/edit:
    put:
      tags:
      - Aplicações
      summary: Editar arquivo
      description: Edita o conteúdo de um arquivo na aplicação
      operationId: editExplorer
      parameters:
      - name: appID
        in: path
        required: true
        description: ID da aplicação
        schema:
          type: string
        x-gitbook-description-html: <p>ID da aplicação</p>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExplorerEditRequest'
      responses:
        '200':
          description: Arquivo editado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExplorerOperationResponse'
              example:
                status: ok
                path: /root/app/index.js
          x-gitbook-description-html: <p>Arquivo editado com sucesso</p>
        '400':
          description: Requisição inválida - campos obrigatórios faltando
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          x-gitbook-description-html: <p>Requisição inválida - campos obrigatórios faltando</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '403':
          description: Sem permissão ou plano insuficiente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          x-gitbook-description-html: <p>Sem permissão ou plano insuficiente</p>
        '404':
          description: Arquivo não encontrado ou caminho inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          x-gitbook-description-html: <p>Arquivo não encontrado ou caminho inválido</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: Edita o conteúdo de um arquivo na aplicação
              marks: []
      x-gitbook-description-html: <p>Edita o conteúdo de um arquivo na aplicação</p>
  /app/{appID}/exec:
    put:
      tags:
      - Aplicações
      summary: Executar comando no container
      description: Executa um comando dentro do container da aplicação
      operationId: execCommand
      parameters:
      - name: appID
        in: path
        required: true
        description: ID da aplicação
        schema:
          type: string
        x-gitbook-description-html: <p>ID da aplicação</p>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecRequest'
            example:
              cmd: ls -la
      responses:
        '200':
          description: Comando executado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecResponse'
              example:
                status: ok
                statusCode: 200
                message: ok
                exec:
                  stdout: |-
                    total 48
                    drwxr-xr-x 5 user user 4096 Dec 17 10:30 .
                    ...
                  stderr: ''
                  exitCode: 0
          x-gitbook-description-html: <p>Comando executado com sucesso</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Block
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '403':
          description: Sem permissão - apenas dono da app pode executar comandos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                message: Você não tem permissão para executar comandos
          x-gitbook-description-html: <p>Sem permissão - apenas dono da app pode executar comandos</p>
        '404':
          description: Aplicação não encontrada ou offline
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecResponse'
              example:
                status: error
                statusCode: 404
                message: app offline
                exec: null
          x-gitbook-description-html: <p>Aplicação não encontrada ou offline</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: Executa um comando dentro do container da aplicação
              marks: []
      x-gitbook-description-html: <p>Executa um comando dentro do container da aplicação</p>
  /app/{appID}/delete:
    delete:
      tags:
      - Aplicações
      summary: Deletar aplicação
      description: Deleta permanentemente uma aplicação
      operationId: deleteApp
      parameters:
      - name: appID
        in: path
        required: true
        description: ID da aplicação a ser deletada
        schema:
          type: string
        x-gitbook-description-html: <p>ID da aplicação a ser deletada</p>
      responses:
        '200':
          description: Aplicação deletada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppDeleteResponse'
              example:
                status: ok
                message: Sua aplicação foi removida.
          x-gitbook-description-html: <p>Aplicação deletada com sucesso</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                noToken:
                  value:
                    message: Bloqueado
                  summary: Nenhum token fornecido
                invalidToken:
                  value:
                    message: Por favor, forneça um token válido
                  summary: Token inválido fornecido
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '404':
          description: Aplicação não encontrada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadErrorResponse'
              example:
                status: error
                message: Aplicação não encontrada
          x-gitbook-description-html: <p>Aplicação não encontrada</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
          - object: text
            leaves:
            - object: leaf
              text: Deleta permanentemente uma aplicação
              marks: []
      x-gitbook-description-html: <p>Deleta permanentemente uma aplicação</p>
  /subdomain/all:
    get:
      tags:
      - Subdomínios
      summary: Listar subdomínios
      description: Retorna todos os subdomínios do usuário autenticado. Requer plano Platinum ou superior.
      operationId: listSubdomains
      responses:
        '200':
          description: Lista de subdomínios retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubdomainListResponse'
              example:
                status: ok
                subdomains:
                - id: meu-subdomain
                  userID: '803658045736878080'
                  status: 1
                  date: 1745100000000
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Plano insuficiente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /subdomain/{subdomainName}:
    get:
      tags:
      - Subdomínios
      summary: Obter subdomínio
      description: Retorna as informações de um subdomínio específico do usuário. Requer plano Platinum ou superior.
      operationId: getSubdomain
      parameters:
      - name: subdomainName
        in: path
        required: true
        description: Nome do subdomínio (sem o sufixo .discloud.app)
        schema:
          type: string
      responses:
        '200':
          description: Subdomínio retornado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubdomainResponse'
              example:
                status: ok
                subdomain:
                  id: meu-subdomain
                  userID: '803658045736878080'
                  status: 1
                  date: 1745100000000
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Plano insuficiente ou sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Subdomínio não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      tags:
      - Subdomínios
      summary: Criar subdomínio
      description: Cria um novo subdomínio. Requer plano Platinum ou superior. Máximo de 100 subdomínios por usuário.
      operationId: createSubdomain
      parameters:
      - name: subdomainName
        in: path
        required: true
        description: Nome desejado para o subdomínio (sem o sufixo .discloud.app)
        schema:
          type: string
          pattern: '^[a-z0-9-]{2,20}$'
      responses:
        '201':
          description: Subdomínio criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubdomainResponse'
              example:
                status: ok
                message: Subdomínio criado com sucesso
                subdomain:
                  id: meu-subdomain
                  userID: '803658045736878080'
                  status: 1
                  date: 1745100000000
        '400':
          description: Nome de subdomínio inválido ou palavra inapropriada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Plano insuficiente ou limite atingido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Subdomínio já registrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      tags:
      - Subdomínios
      summary: Remover subdomínio
      description: Remove um subdomínio do usuário. Não é possível remover subdomínios que estejam em uso (status 2). Requer plano Platinum ou superior.
      operationId: deleteSubdomain
      parameters:
      - name: subdomainName
        in: path
        required: true
        description: Nome do subdomínio a ser removido
        schema:
          type: string
      responses:
        '200':
          description: Subdomínio removido com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              example:
                status: ok
                message: Subdomínio removido com sucesso
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Plano insuficiente ou sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Subdomínio não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Subdomínio em uso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customdomain/all:
    get:
      tags:
      - Domínios Customizados
      summary: Listar domínios customizados
      description: Retorna todos os domínios customizados do usuário autenticado.
      operationId: listCustomDomains
      responses:
        '200':
          description: Lista de domínios customizados retornada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomainListResponse'
              example:
                status: ok
                domains:
                - id: example.com
                  dns_status: active
                  date: 1745100000000
                  isLegacy: false
                  app:
                    id: '1719010867306'
                    name: example.com
                    online: true
                    type: 1
                  instructions:
                  - type: A
                    name: example.com
                    content: 192.0.2.1
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /customdomain/create:
    post:
      tags:
      - Domínios Customizados
      summary: Criar domínio customizado
      description: Cria um novo domínio customizado e vincula a um app.
      operationId: createCustomDomain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - domainName
              - appID
              properties:
                domainName:
                  type: string
                  description: Nome desejado para o domínio customizado
                appID:
                  type: string
                  description: ID do app para vincular
      responses:
        '200':
          description: Domínio customizado criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomDomainResponse'
              example:
                status: ok
                message: Domínio customizado registrado com sucesso
                domain:
                  id: example.com
                  dns_status: pending_check
                  instructions:
                  - type: A
                    name: example.com
                    content: 192.0.2.1
                  app:
                    id: '1719010867306'
                    name: '1719010867306.discloud.app'
        '400':
          description: Formato de domínio inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Limite do plano atingido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: App não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Domínio já registrado ou app já possui domínio customizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro na API externa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /customdomain/{domainName}/edit:
    put:
      tags:
      - Domínios Customizados
      summary: Editar vínculo de domínio customizado
      description: Move um domínio customizado para outro app.
      operationId: editCustomDomain
      parameters:
      - name: domainName
        in: path
        required: true
        description: Domínio customizado a ser movido
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - newAppID
              properties:
                newAppID:
                  type: string
                  description: Novo ID do app
      responses:
        '200':
          description: Domínio customizado editado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  migrated:
                    type: boolean
                  domain:
                    type: string
              example:
                status: ok
                message: Domínio editado com sucesso
                migrated: false
                domain: example.com
        '400':
          description: Operação inválida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Domínio ou app não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: App já possui outro domínio customizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro na migração
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /customdomain/{domainName}/remove:
    delete:
      tags:
      - Domínios Customizados
      summary: Remover domínio customizado
      description: Remove um domínio customizado do usuário e desvincula do app.
      operationId: removeCustomDomain
      parameters:
      - name: domainName
        in: path
        required: true
        description: Domínio customizado a ser removido
        schema:
          type: string
      responses:
        '200':
          description: Domínio customizado removido com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  domain:
                    type: string
              example:
                status: ok
                message: Domínio removido com sucesso
                domain: example.com
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Domínio não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro na API externa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /customdomain/{domainName}/verify:
    get:
      tags:
      - Domínios Customizados
      summary: Verificar DNS do domínio customizado
      description: Verifica o status DNS de um domínio customizado em tempo real.
      operationId: verifyCustomDomain
      parameters:
      - name: domainName
        in: path
        required: true
        description: Domínio customizado a ser verificado
        schema:
          type: string
      responses:
        '200':
          description: Status DNS retornado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  domain:
                    $ref: '#/components/schemas/CustomDomain'
              example:
                status: ok
                domain:
                  id: example.com
                  dns_status: active
                  valid: true
                  message: DNS configurado corretamente
                  app:
                    id: '1719010867306'
                    name: example.com
                    online: true
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Sem permissão
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Domínio não encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Erro na API externa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /snapshot:
    get:
      tags:
      - Snapshot
      summary: Listar backups versionados
      description: Retorna todos os backups versionados do usuário autenticado. Filtre por appID ou pagine os resultados.
      operationId: listSnapshots
      parameters:
      - name: page
        in: query
        required: false
        description: Número da página (deve ser >= 1)
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: limit
        in: query
        required: false
        description: Itens por página (1–200)
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 200
      - name: summary
        in: query
        required: false
        description: Se true, retorna uma visão resumida de cada backup
        schema:
          type: boolean
          default: false
      - name: appID
        in: query
        required: false
        description: Filtrar backups de um app específico (letras, números, hífen; máx 40 chars)
        schema:
          type: string
          maxLength: 40
          pattern: '^[a-zA-Z0-9\-]+$'
      responses:
        '200':
          description: Backups obtidos com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  message:
                    type: string
              examples:
                todosApps:
                  summary: Todos os backups do usuário
                  value:
                    status: ok
                    message: Backups obtidos com sucesso
                    page: 1
                    limit: 50
                    total: 3
                    backups: []
                porAppID:
                  summary: Backups de um app específico
                  value:
                    status: ok
                    message: Backups da aplicação obtidos com sucesso
                    app:
                      id: meu-app-id
                    versions:
                    - version: 20260420-153000
                      size: 204800
                      createdAt: '2026-04-20T15:30:00Z'
          x-gitbook-description-html: <p>Backups obtidos com sucesso</p>
        '400':
          description: Parâmetro inválido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                appIDInvalido:
                  value:
                    status: error
                    message: Parâmetro inválido
                    code: 'SNAPSHOT:INVALID_APPID_FORMAT'
                paginaInvalida:
                  value:
                    status: error
                    message: Parâmetro inválido
                    code: 'SNAPSHOT:INVALID_PAGE'
                limiteInvalido:
                  value:
                    status: error
                    message: Parâmetro inválido
                    code: 'SNAPSHOT:INVALID_LIMIT'
          x-gitbook-description-html: <p>Parâmetro inválido</p>
        '401':
          description: Erro de autenticação
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          x-gitbook-description-html: <p>Erro de autenticação</p>
        '404':
          description: Nenhum backup encontrado para o appID informado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                message: Nenhum backup encontrado para esta aplicação
                code: 'SNAPSHOT:NO_BACKUPS_FOUND'
          x-gitbook-description-html: <p>Nenhum backup encontrado</p>
        '500':
          description: Erro interno do servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: error
                message: Erro interno ao listar backups
                code: 'SNAPSHOT:INTERNAL_ERROR'
          x-gitbook-description-html: <p>Erro interno do servidor</p>
[...]
