openapi: 3.0.3
info:
  title: Discloud API
  description: >-
    Welcome to the Discloud API! Feel free to query and try out all the routes of our API on this page!
  termsOfService: https://discloudbot.com/legal/terms
  version: 2.0.0
  contact:
    name: Discloud Support
    url: https://discord.com/channels/@me/930852077045940224/
    email: support@discloudbot.com
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
      - object: block
        type: paragraph
        isVoid: false
        data: {}
        nodes:
          - object: text
            leaves:
              - object: leaf
                text: >-
                  Welcome to the Discloud API! Feel free to query and try out all the routes of our API on this page!
                marks: []
  x-gitbook-description-html: >-
    <p>Welcome to the Discloud API! Feel free to query and try out all the routes of our API on this page!</p>
servers:
  - url: https://api.discloud.app/v2
    description: API Server
    x-gitbook-description-html: <p>API Server</p>
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    User:
      type: object
      properties:
        userID:
          type: string
          description: The unique identifier of the user
          x-gitbook-description-html: <p>The unique identifier of the user</p>
        totalRamMb:
          type: integer
          description: Total RAM allocated to the user (in MB)
          x-gitbook-description-html: <p>Total RAM allocated to the user (in MB)</p>
        ramUsedMb:
          type: integer
          description: RAM currently being used by the user (in MB)
          x-gitbook-description-html: <p>RAM currently being used by the user (in MB)</p>
        subdomains:
          type: array
          items:
            type: string
          description: List of subdomains owned by the user
          x-gitbook-description-html: <p>List of subdomains owned by the user</p>
        customdomains:
          type: array
          items:
            type: string
          description: List of custom domains owned by the user
          x-gitbook-description-html: <p>List of custom domains owned by the user</p>
        apps:
          type: array
          items:
            type: string
          description: List of application IDs owned by the user
          x-gitbook-description-html: <p>List of application IDs owned by the user</p>
        plan:
          type: string
          description: The subscription plan of the user
          x-gitbook-description-html: <p>The subscription plan of the user</p>
        locale:
          type: string
          description: The language/locale
          x-gitbook-description-html: <p>The language/locale</p>
        lastDataLeft:
          type: object
          properties:
            days:
              type: integer
              description: Days remaining in the current plan
              x-gitbook-description-html: <p>Days remaining in the current plan</p>
            hours:
              type: integer
              description: Hours remaining in the current plan
              x-gitbook-description-html: <p>Hours remaining in the current plan</p>
            minutes:
              type: integer
              description: Minutes remaining in the current plan
              x-gitbook-description-html: <p>Minutes remaining in the current plan</p>
            seconds:
              type: integer
              description: Seconds remaining in the current plan
              x-gitbook-description-html: <p>Seconds remaining in the current plan</p>
          description: Time remaining in the current plan
          x-gitbook-description-html: <p>Time remaining in the current plan</p>
        planDataEnd:
          type: string
          format: date-time
          description: End date of the current plan
          x-gitbook-description-html: <p>End date of the current plan</p>
    UserResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        user:
          $ref: "#/components/schemas/User"
    LocaleResponse:
      type: object
      properties:
        status:
          type: string
        locale:
          type: string
          enum:
            - pt-BR
            - en-US
    LocaleErrorResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        localeList:
          type: array
          items:
            type: string
    UploadErrorResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    App:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the application
          x-gitbook-description-html: <p>Unique identifier of the application</p>
        avatarURL:
          type: string
          description: URL to the application's avatar image
          x-gitbook-description-html: <p>URL to the application's avatar image</p>
        name:
          type: string
          description: Name of the application
          x-gitbook-description-html: <p>Name of the application</p>
        type:
          type: integer
          description: Type of the application
          x-gitbook-description-html: <p>Type of the application</p>
        online:
          type: boolean
          description: Whether the application is currently online
          x-gitbook-description-html: <p>Whether the application is currently online</p>
        ramKilled:
          type: boolean
          description: Whether the application was terminated due to RAM usage
          x-gitbook-description-html: <p>Whether the application was terminated due to RAM usage</p>
        exitCode:
          type: integer
          description: Exit code of the application if it has stopped
          x-gitbook-description-html: <p>Exit code of the application if it has stopped</p>
        ram:
          type: integer
          description: RAM allocated to the application (in MB)
          x-gitbook-description-html: <p>RAM allocated to the application (in MB)</p>
        mainFile:
          type: string
          description: Main file path of the application
          x-gitbook-description-html: <p>Main file path of the application</p>
        lang:
          type: string
          description: Programming language of the application
          x-gitbook-description-html: <p>Programming language of the application</p>
        autoDeployGit:
          type: string
          description: Git auto-deployment setting
          x-gitbook-description-html: <p>Git auto-deployment setting</p>
        autoRestart:
          type: boolean
          description: Whether the application auto-restarts on failure
          x-gitbook-description-html: <p>Whether the application auto-restarts on failure</p>
    AppResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        apps:
          oneOf:
            - $ref: "#/components/schemas/App"
            - type: array
              items:
                $ref: "#/components/schemas/App"
    AppStatus:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the application
          x-gitbook-description-html: <p>Unique identifier of the application</p>
        container:
          type: string
          description: Status of the application container
          x-gitbook-description-html: <p>Status of the application container</p>
        cpu:
          type: string
          description: Current CPU usage of the application
          x-gitbook-description-html: <p>Current CPU usage of the application</p>
        memory:
          type: string
          description: Current memory usage and allocation
          x-gitbook-description-html: <p>Current memory usage and allocation</p>
        ssd:
          type: string
          description: Storage space used by the application
          x-gitbook-description-html: <p>Storage space used by the application</p>
        netIO:
          type: object
          properties:
            down:
              type: string
              description: Network download usage
              x-gitbook-description-html: <p>Network download usage</p>
            up:
              type: string
              description: Network upload usage
              x-gitbook-description-html: <p>Network upload usage</p>
        last_restart:
          type: string
          description: Time since the last application restart
          x-gitbook-description-html: <p>Time since the last application restart</p>
        startedAt:
          type: string
          format: date-time
          description: Timestamp when the application was started
          x-gitbook-description-html: <p>Timestamp when the application was started</p>
    AppStatusResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        apps:
          oneOf:
            - $ref: "#/components/schemas/AppStatus"
            - type: array
              items:
                $ref: "#/components/schemas/AppStatus"
    AppLogs:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the application
          x-gitbook-description-html: <p>Unique identifier of the application</p>
        terminal:
          type: object
          properties:
            big:
              type: string
              description: Complete application logs
              x-gitbook-description-html: <p>Complete application logs</p>
            small:
              type: string
              description: Condensed application logs
              x-gitbook-description-html: <p>Condensed application logs</p>
            url:
              type: string
              description: URL to view logs online
              x-gitbook-description-html: <p>URL to view logs online</p>
    AppLogsResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        apps:
          oneOf:
            - $ref: "#/components/schemas/AppLogs"
            - type: array
              items:
                $ref: "#/components/schemas/AppLogs"
    AppBackup:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the application
          x-gitbook-description-html: <p>Unique identifier of the application</p>
        url:
          type: string
          description: URL to download the application backup
          x-gitbook-description-html: <p>URL to download the application backup</p>
    AppBackupResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        backups:
          oneOf:
            - $ref: "#/components/schemas/AppBackup"
            - type: array
              items:
                $ref: "#/components/schemas/AppBackup"
    AppStartStatus:
      type: object
      properties:
        online:
          type: boolean
          description: Whether the application is online
          x-gitbook-description-html: <p>Whether the application is online</p>
        ramKilled:
          type: boolean
          description: Whether the application was terminated due to RAM issues
          x-gitbook-description-html: <p>Whether the application was terminated due to RAM issues</p>
        exitCode:
          type: integer
          description: The exit code of the application process
          x-gitbook-description-html: <p>The exit code of the application process</p>
    AppStartResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        appStatus:
          $ref: "#/components/schemas/AppStartStatus"
    AppRestartResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    AppStopResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    AppRamUpdateRequest:
      type: object
      required:
        - ramMB
      properties:
        ramMB:
          type: integer
          description: The amount of RAM in MB to allocate to the application
          example: 200
          x-gitbook-description-html: <p>The amount of RAM in MB to allocate to the application</p>
    AppRamUpdateResponse:
      type: object
      properties:
        status:
          type: string
        statusCode:
          type: integer
        message:
          type: string
    AppDeleteResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
    AppProfileUpdateRequest:
      type: object
      required:
        - avatarURL
        - name
      properties:
        avatarURL:
          type: string
          description: URL to the application's avatar image
          example: https://i.ibb.co/0yJhZw92/Uma01.png
          x-gitbook-description-html: <p>URL to the application's avatar image</p>
        name:
          type: string
          description: Name of the application
          example: Discloud App
          x-gitbook-description-html: <p>Name of the application</p>
    AppProfileUpdateResponse:
      type: object
      properties:
        status:
          type: string
        statusCode:
          type: integer
        message:
          type: string
    FileItem:
      type: object
      properties:
        size:
          type: integer
          description: File size in bytes (only for files)
          x-gitbook-description-html: <p>File size in bytes (only for files)</p>
        name:
          type: string
          description: File or directory name
          x-gitbook-description-html: <p>File or directory name</p>
        type:
          enum:
            - file
            - directory
          description: Type of item
          type: string
          x-gitbook-description-html: <p>Type of item</p>
    ExplorerListResponse:
      properties:
        status:
          type: string
          example: ok
        path:
          type: string
          description: Current directory path
          x-gitbook-description-html: <p>Current directory path</p>
        dir:
          type: array
          items:
            $ref: "#/components/schemas/FileItem"
      type: object
    ExplorerOpenResponse:
      properties:
        status:
          type: string
          example: ok
        path:
          type: string
          description: Full file path
          x-gitbook-description-html: <p>Full file path</p>
        name:
          type: string
          description: File name
          x-gitbook-description-html: <p>File name</p>
        content:
          type: string
          description: File content
          x-gitbook-description-html: <p>File content</p>
        message:
          type: string
      type: object
    ExplorerEditRequest:
      properties:
        fileContent:
          type: string
          description: New file content
          x-gitbook-description-html: <p>New file content</p>
        cPath:
          type: string
          description: Full file path
          x-gitbook-description-html: <p>Full file path</p>
      type: object
      required:
        - cPath
        - fileContent
    ExplorerCreateRequest:
      properties:
        typeFile:
          enum:
            - file
            - directory
          description: Type to create
          type: string
          x-gitbook-description-html: <p>Type to create</p>
        cPath:
          type: string
          description: Full path for new file or directory
          x-gitbook-description-html: <p>Full path for new file or directory</p>
      type: object
      required:
        - cPath
        - typeFile
    ExplorerOperationResponse:
      properties:
        status:
          type: string
          example: ok
        path:
          type: string
          description: Operation target path
          x-gitbook-description-html: <p>Operation target path</p>
      type: object
    ExecRequest:
      properties:
        cmd:
          type: string
          description: Command to execute in the container
          x-gitbook-description-html: <p>Command to execute in the container</p>
      type: object
      required:
        - cmd
    ExecOutput:
      properties:
        stdout:
          type: string
          description: Standard output from the command
          x-gitbook-description-html: <p>Standard output from the command</p>
        stderr:
          type: string
          description: Standard error from the command
          x-gitbook-description-html: <p>Standard error from the command</p>
        exitCode:
          type: integer
          description: Exit code of the command
          x-gitbook-description-html: <p>Exit code of the command</p>
      type: object
    ExecResponse:
      properties:
        status:
          type: string
        statusCode:
          type: integer
        message:
          type: string
        exec:
          oneOf:
            - $ref: "#/components/schemas/ExecOutput"
            - type: object
              nullable: true
      type: object
    Subdomain:
      type: object
      properties:
        id:
          type: string
        userID:
          type: string
        status:
          type: integer
        date:
          type: integer
          description: Creation timestamp in milliseconds
    SubdomainResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        subdomain:
          $ref: "#/components/schemas/Subdomain"
    SubdomainListResponse:
      type: object
      properties:
        status:
          type: string
        subdomains:
          type: array
          items:
            $ref: "#/components/schemas/Subdomain"
    DnsInstruction:
      type: object
      properties:
        type:
          type: string
        name:
          type: string
        content:
          type: string
    CustomDomainApp:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        online:
          type: boolean
        type:
          type: integer
    CustomDomain:
      type: object
      properties:
        id:
          type: string
        dns_status:
          type: string
        date:
          type: integer
        isLegacy:
          type: boolean
        valid:
          type: boolean
        message:
          type: string
        app:
          $ref: "#/components/schemas/CustomDomainApp"
        instructions:
          type: array
          items:
            $ref: "#/components/schemas/DnsInstruction"
    CustomDomainResponse:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        domain:
          $ref: "#/components/schemas/CustomDomain"
    CustomDomainListResponse:
      type: object
      properties:
        status:
          type: string
        domains:
          type: array
          items:
            $ref: "#/components/schemas/CustomDomain"
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: api-token
security:
  - ApiKeyAuth: []
tags:
  - name: User
    description: Operations about users
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Operations about users
                  marks: []
    x-gitbook-description-html: <p>Operations about users</p>
  - name: Applications
    description: Operations about applications
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Operations about applications
                  marks: []
    x-gitbook-description-html: <p>Operations about applications</p>
  - name: Team Management
    description: Operations about team management
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Operations about team management
                  marks: []
    x-gitbook-description-html: <p>Operations about team management</p>
  - name: Team Member
    description: Operations about team members
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Operations about team members
                  marks: []
    x-gitbook-description-html: <p>Operations about team members</p>
  - name: Subdomains
    description: Operations about subdomains
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Operations about subdomains
                  marks: []
    x-gitbook-description-html: <p>Operations about subdomains</p>
  - name: File Explorer
    description: Operations about file explorer
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Operations about file explorer
                  marks: []
    x-gitbook-description-html: <p>Operations about file explorer</p>
  - name: Custom Domains
    description: Operations about custom domains
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Operations about custom domains
                  marks: []
    x-gitbook-description-html: <p>Operations about custom domains</p>
  - name: App Profiles
    description: Operations about application profiles
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Operations about application profiles
                  marks: []
    x-gitbook-description-html: <p>Operations about application profiles</p>
  - name: Snapshot
    description: Operations about versioned backups (snapshots)
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Operations about versioned backups (snapshots)
                  marks: []
    x-gitbook-description-html: <p>Operations about versioned backups (snapshots)</p>
  - name: Environment Variables
    description: Operations about environment variables (account, project and app)
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Operations about environment variables (account, project and app)
                  marks: []
    x-gitbook-description-html: <p>Operations about environment variables (account, project and app)</p>
  - name: Projects
    description: Operations about projects (grouping of apps)
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Operations about projects (grouping of apps)
                  marks: []
    x-gitbook-description-html: <p>Operations about projects (grouping of apps)</p>
  - name: Databases
    description: >-
      Operations about managed databases (create, lifecycle, backups and logs).
      Requires plan Diamond (4) or higher to create/restore. Create and restore return
      immediately with an id; poll GET /database/{dbID} for status.
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Operations about managed databases (create, lifecycle, backups and logs)
                  marks: []
    x-gitbook-description-html: >-
      <p>Operations about managed databases (create, lifecycle, backups and logs).
      Requires plan Diamond (4) or higher to create/restore. Create and restore return
      immediately with an id; poll GET /database/{dbID} for status.</p>
paths:
  /user:
    get:
      tags:
        - User
      summary: Get current user information
      description: Returns information about the authenticated user
      operationId: getCurrentUser
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
              example:
                status: ok
                message: User data were successfully charged
                user:
                  userID: "803658045736878080"
                  totalRamMb: 16384
                  ramUsedMb: 3386
                  subdomains:
                    - exemplo
                  customdomains:
                    - example.discloud.com
                  apps:
                    - "1719010867306"
                  plan: Safira
                  locale: pt-BR
                  lastDataLeft:
                    days: 264
                    hours: 12
                    minutes: 6
                    seconds: 56
                  planDataEnd: "2026-01-12T22:28:58.189Z"
          x-gitbook-description-html: <p>Successful operation</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Returns information about the authenticated user
                    marks: []
      x-gitbook-description-html: <p>Returns information about the authenticated user</p>
  /locale/{locale}:
    put:
      tags:
        - User
      summary: Update user locale
      description: Updates the user's preferred language/locale
      operationId: updateUserLocale
      parameters:
        - name: locale
          in: path
          required: true
          description: The locale to set for the user
          schema:
            type: string
            enum:
              - pt-BR
              - en-US
          x-gitbook-description-html: <p>The locale to set for the user</p>
      responses:
        "200":
          description: Locale successfully updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocaleResponse"
              example:
                status: ok
                locale: en-US
          x-gitbook-description-html: <p>Locale successfully updated</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "404":
          description: Invalid locale specified
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocaleErrorResponse"
              example:
                status: error
                message: The translation into language fr-FR does not yet exist.
                localeList:
                  - pt-BR
                  - en-US
          x-gitbook-description-html: <p>Invalid locale specified</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Updates the user's preferred language/locale
                    marks: []
      x-gitbook-description-html: <p>Updates the user's preferred language/locale</p>
  /upload:
    post:
      tags:
        - Applications
      summary: Upload application
      description: Upload a new application to Discloud
      operationId: uploadApplication
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Application file to upload (.ZIP format)
                  x-gitbook-description-html: <p>Application file to upload (.ZIP format)</p>
                projectId:
                  type: string
                  description: Project ID to link the application to on upload (optional).
                  x-gitbook-description-html: >-
                    <p>Project ID to link the application to on upload (optional).</p>
      responses:
        "200":
          description: Upload response
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      status:
                        type: string
                      message:
                        type: string
                  - $ref: "#/components/schemas/UploadErrorResponse"
              examples:
                success:
                  summary: Successful upload
                  value:
                    status: ok
                    statusCode: 200
                    message: Your application has been successfully uploaded.
                    app:
                      id: "1745338954955"
                      type: 0
                      name: Bot javascript
                      avatarURL: https://i.imgur.com/bWhx7OT.png
                      ram: 100
                      apts: ""
                      clusterName: fenrir
                      exitCode: 0
                      online: true
                      ramKilled: false
                      syncGit: null
                      mainFile: index.js
                      lang: javascript
                      version: latest
                      addedAtTimestamp: 1719010867306
                      autoRestart: false
                missingConfigFile:
                  value:
                    status: error
                    statusCode: 93
                    message: The discloud.config file was not found within .zip sent.
                  summary: Missing discloud.config file
                planLimitReached:
                  value:
                    status: error
                    message: >-
                      You have reached the application limit you can host or you allocated all available RAM of your plan.
                  summary: Plan limit reached
          x-gitbook-description-html: <p>Upload response</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "404":
          description: Missing required file
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadErrorResponse"
              example:
                status: error
                message: Mandatory File
          x-gitbook-description-html: <p>Missing required file</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Upload a new application to Discloud
                    marks: []
      x-gitbook-description-html: <p>Upload a new application to Discloud</p>
  /app/{appID}:
    get:
      tags:
        - Applications
      summary: Get application information
      description: Retrieves information about a specific application or all applications
      operationId: getAppInfo
      parameters:
        - name: appID
          in: path
          required: true
          description: ID of the application or "all" to retrieve all applications
          schema:
            type: string
          x-gitbook-description-html: <p>ID of the application or "all" to retrieve all applications</p>
      responses:
        "200":
          description: Application information retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppResponse"
              example:
                status: ok
                message: The information of your application has been loaded.
                apps:
                  id: "1745338954955"
                  avatarURL: https://i.ibb.co/xSxd0Hv1/Uma105.png
                  name: Temp2 - JS
                  type: 0
                  online: true
                  ramKilled: false
                  exitCode: 0
                  ram: 100
                  mainFile: src/index.js
                  lang: javascript
                  autoDeployGit: "no"
                  autoRestart: false
          x-gitbook-description-html: <p>Application information retrieved successfully</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadErrorResponse"
              example:
                status: error
                message: App not found
          x-gitbook-description-html: <p>Application not found</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Retrieves information about a specific application or all applications
                    marks: []
      x-gitbook-description-html: >-
        <p>Retrieves information about a specific application or all applications</p>
  /app/{appID}/status:
    get:
      tags:
        - Applications
      summary: Get application status
      description: >-
        Retrieves status information about a specific application or all applications
      operationId: getAppStatus
      parameters:
        - name: appID
          in: path
          required: true
          description: >-
            ID of the application or "all" to retrieve status for all applications
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>ID of the application or "all" to retrieve status for all applications</p>
      responses:
        "200":
          description: Application status retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppStatusResponse"
              example:
                status: ok
                message: The status of your applications were loaded
                apps:
                  id: "1745338954955"
                  container: Online
                  cpu: 0.00%
                  memory: 39.9MB/100MB
                  ssd: 1.999GB
                  netIO:
                    down: 61KB
                    up: 16KB
                  last_restart: 30 minutes
                  startedAt: "2025-04-22T16:24:55.978921501Z"
          x-gitbook-description-html: <p>Application status retrieved successfully</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadErrorResponse"
              example:
                status: error
                message: App not found
          x-gitbook-description-html: <p>Application not found</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Retrieves status information about a specific application or all applications
                    marks: []
      x-gitbook-description-html: >-
        <p>Retrieves status information about a specific application or all applications</p>
  /app/{appID}/logs:
    get:
      tags:
        - Applications
      summary: Get application logs
      description: Retrieves logs for a specific application or all applications
      operationId: getAppLogs
      parameters:
        - name: appID
          in: path
          required: true
          description: ID of the application or "all" to retrieve logs for all applications
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>ID of the application or "all" to retrieve logs for all applications</p>
      responses:
        "200":
          description: Application logs retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppLogsResponse"
              example:
                status: ok
                message: The logs of your applications were loaded
                apps:
                  id: "1745338954955"
                  terminal:
                    big: |-
                      2025-04-22T14:30:00.123Z Application starting...
                      2025-04-22T14:30:01.234Z Environment: production
                      2025-04-22T14:30:01.567Z Loading configuration files...
                      2025-04-22T14:30:02.123Z Database connection established
                      2025-04-22T14:30:02.456Z Initializing server modules
                      2025-04-22T14:30:03.678Z Server listening on port 8080
                      2025-04-22T14:30:04.123Z WebSocket service initialized
                      2025-04-22T14:30:04.567Z Cache warming up
                      2025-04-22T14:30:05.234Z Application startup complete
                      2025-04-22T14:30:06.123Z Processing initial requests
                    small: |-
                      2025-04-22T14:30:00.123Z Application starting...
                      2025-04-22T14:30:02.123Z Database connection established
                      2025-04-22T14:30:03.678Z Server listening on port 8080
                      2025-04-22T14:30:05.234Z Application startup complete
                    url: discloud.app
          x-gitbook-description-html: <p>Application logs retrieved successfully</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadErrorResponse"
              example:
                status: error
                message: App not found
          x-gitbook-description-html: <p>Application not found</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Retrieves logs for a specific application or all applications
                    marks: []
      x-gitbook-description-html: <p>Retrieves logs for a specific application or all applications</p>
  /app/{appID}/backup:
    get:
      tags:
        - Applications
      summary: Get application backup
      description: >-
        Generates and retrieves backup for a specific application or all applications
      operationId: getAppBackup
      parameters:
        - name: appID
          in: path
          required: true
          description: >-
            ID of the application or "all" to retrieve backups for all applications
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>ID of the application or "all" to retrieve backups for all applications</p>
      responses:
        "200":
          description: Application backup generated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppBackupResponse"
              example:
                status: ok
                message: The backup of your application will be generated successfully
                backups:
                  id: "1745338954955"
                  url: >-
                    https://discloud.app/backup/A1B2C3D4E5F6G7H8I9J0K1L2M3N4O5P6Q7R8S9T0U1V2W3X4Y5Z6.zip
          x-gitbook-description-html: <p>Application backup generated successfully</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadErrorResponse"
              example:
                status: error
                message: App not found
          x-gitbook-description-html: <p>Application not found</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Generates and retrieves backup for a specific application or all applications
                    marks: []
      x-gitbook-description-html: >-
        <p>Generates and retrieves backup for a specific application or all applications</p>
  /app/{appID}/start:
    put:
      tags:
        - Applications
      summary: Start application
      description: Starts a specific application or all applications
      operationId: startApp
      parameters:
        - name: appID
          in: path
          required: true
          description: ID of the application or "all" to start all applications
          schema:
            type: string
          x-gitbook-description-html: <p>ID of the application or "all" to start all applications</p>
      responses:
        "200":
          description: Application started successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppStartResponse"
              examples:
                success:
                  value:
                    status: ok
                    message: Its application was connected.
                    appStatus:
                      online: true
                      ramKilled: false
                      exitCode: 0
                alreadyRunning:
                  value:
                    status: error
                    message: Its application is already on.
                    appStatus:
                      online: true
                      ramKilled: false
                      exitCode: 0
                  summary: Application already running
          x-gitbook-description-html: <p>Application started successfully</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadErrorResponse"
              example:
                status: error
                message: App not found
          x-gitbook-description-html: <p>Application not found</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Starts a specific application or all applications
                    marks: []
      x-gitbook-description-html: <p>Starts a specific application or all applications</p>
  /app/{appID}/restart:
    put:
      tags:
        - Applications
      summary: Restart application
      description: Restarts a specific application or all applications
      operationId: restartApp
      parameters:
        - name: appID
          in: path
          required: true
          description: ID of the application or "all" to restart all applications
          schema:
            type: string
          x-gitbook-description-html: <p>ID of the application or "all" to restart all applications</p>
      responses:
        "200":
          description: Application restarted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppRestartResponse"
              example:
                status: ok
                message: Its application was restarted.
          x-gitbook-description-html: <p>Application restarted successfully</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadErrorResponse"
              example:
                status: error
                message: App not found
          x-gitbook-description-html: <p>Application not found</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Restarts a specific application or all applications
                    marks: []
      x-gitbook-description-html: <p>Restarts a specific application or all applications</p>
  /app/{appID}/stop:
    put:
      tags:
        - Applications
      summary: Stop application
      description: Stops a specific application or all applications
      operationId: stopApp
      parameters:
        - name: appID
          in: path
          required: true
          description: ID of the application or "all" to stop all applications
          schema:
            type: string
          x-gitbook-description-html: <p>ID of the application or "all" to stop all applications</p>
      responses:
        "200":
          description: Application stop response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppStopResponse"
              examples:
                success:
                  value:
                    status: ok
                    message: Your application has been turned off.
                  summary: Application stopped successfully
                alreadyStopped:
                  value:
                    status: error
                    message: Your app is already turned off.
                  summary: Application already stopped
          x-gitbook-description-html: <p>Application stop response</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadErrorResponse"
              example:
                status: error
                message: App not found
          x-gitbook-description-html: <p>Application not found</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Stops a specific application or all applications
                    marks: []
      x-gitbook-description-html: <p>Stops a specific application or all applications</p>
  /app/{appID}/ram:
    put:
      tags:
        - Applications
      summary: Update application RAM
      description: Updates the RAM allocation for a specific application
      operationId: updateAppRam
      parameters:
        - name: appID
          in: path
          required: true
          description: ID of the application to update RAM for
          schema:
            type: string
          x-gitbook-description-html: <p>ID of the application to update RAM for</p>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppRamUpdateRequest"
            example:
              ramMB: 200
      responses:
        "200":
          description: RAM update response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppRamUpdateResponse"
              examples:
                success:
                  value:
                    status: ok
                    statusCode: 200
                    message: >-
                      The memory of your application has been successfully changed.
                  summary: RAM updated successfully
                insufficientRam:
                  value:
                    status: error
                    message: >-
                      You can not put 14000 mb of RAM in your application, only you have 13098 mb of memory RAM.
                  summary: Insufficient available RAM
          x-gitbook-description-html: <p>RAM update response</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "404":
          description: Application not found or plan limitation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadErrorResponse"
              examples:
                appNotFound:
                  value:
                    status: error
                    message: App not found
                  summary: Application not found
                planLimitation:
                  value:
                    status: error
                    message: >-
                      Changing the memory used by applications is only available for Carbon or superior donors.
                  summary: Free plan limitation
          x-gitbook-description-html: <p>Application not found or plan limitation</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Updates the RAM allocation for a specific application
                    marks: []
      x-gitbook-description-html: <p>Updates the RAM allocation for a specific application</p>
  /app/{appID}/commit:
    put:
      tags:
        - Applications
      summary: Update application code
      description: Updates an existing application by uploading a new version of the code
      operationId: commitAppChanges
      parameters:
        - name: appID
          in: path
          required: true
          description: ID of the application to update
          schema:
            type: string
          x-gitbook-description-html: <p>ID of the application to update</p>
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: Application file to upload (.ZIP format)
                  x-gitbook-description-html: <p>Application file to upload (.ZIP format)</p>
      responses:
        "200":
          description: Commit response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              example:
                summary: Successful commit (may timeout)
                description: >-
                  When successful, the request may timeout without returning a response
          x-gitbook-description-html: <p>Commit response</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadErrorResponse"
              example:
                status: error
                message: App not found
          x-gitbook-description-html: <p>Application not found</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Updates an existing application by uploading a new version of the code
                    marks: []
      x-gitbook-description-html: >-
        <p>Updates an existing application by uploading a new version of the code</p>
  /app/{appID}/profile:
    put:
      tags:
        - Applications
      summary: Update application profile
      description: >-
        Updates the profile information (avatar and name) for a specific application
      operationId: updateAppProfile
      parameters:
        - name: appID
          in: path
          required: true
          description: ID of the application to update profile for
          schema:
            type: string
          x-gitbook-description-html: <p>ID of the application to update profile for</p>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AppProfileUpdateRequest"
            example:
              avatarURL: https://i.ibb.co/0yJhZw92/Uma01.png
              name: Discloud App
      responses:
        "200":
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppProfileUpdateResponse"
              example:
                status: ok
                statusCode: 200
                message: Profile successfully modified!
          x-gitbook-description-html: <p>Profile updated successfully</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              example:
                status: error
                message: App not found
          x-gitbook-description-html: <p>Application not found</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Updates the profile information (avatar and name) for a specific application
                    marks: []
      x-gitbook-description-html: >-
        <p>Updates the profile information (avatar and name) for a specific application</p>
  /app/{appID}/explorer:
    get:
      tags:
        - Applications
      summary: List files and directories
      description: List files and directories in the application's directory
      operationId: listExplorer
      parameters:
        - name: appID
          in: path
          required: true
          description: ID of the application
          schema:
            type: string
          x-gitbook-description-html: <p>ID of the application</p>
        - name: cPath
          in: query
          required: false
          description: Directory path (defaults to app workDir)
          schema:
            type: string
          x-gitbook-description-html: <p>Directory path (defaults to app workDir)</p>
      responses:
        "200":
          description: Files and directories listed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExplorerListResponse"
              example:
                status: ok
                path: /root/app
                dir:
                  - name: index.js
                    type: file
                    size: 1024
                  - name: src
                    type: directory
          x-gitbook-description-html: <p>Files and directories listed successfully</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "403":
          description: No permission or insufficient plan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                message: >-
                  You don't have permission or have an insufficient plan to use explorer
          x-gitbook-description-html: <p>No permission or insufficient plan</p>
        "404":
          description: Application not found or invalid path
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                appNotFound:
                  value:
                    message: Application not found
                  summary: Application not found
                invalidPath:
                  value:
                    message: Invalid path format
                  summary: Invalid path
          x-gitbook-description-html: <p>Application not found or invalid path</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: List files and directories in the application's directory
                    marks: []
      x-gitbook-description-html: <p>List files and directories in the application's directory</p>
    post:
      tags:
        - Applications
      summary: Create file or directory
      description: Create a new file or directory in the application
      operationId: createExplorer
      parameters:
        - name: appID
          in: path
          required: true
          description: ID of the application
          schema:
            type: string
          x-gitbook-description-html: <p>ID of the application</p>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExplorerCreateRequest"
      responses:
        "200":
          description: File or directory created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExplorerOperationResponse"
              example:
                status: ok
                path: /root/app/newfile.js
          x-gitbook-description-html: <p>File or directory created successfully</p>
        "400":
          description: Bad request - missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                message: "Missing required fields: cPath, typeFile"
          x-gitbook-description-html: <p>Bad request - missing required fields</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "403":
          description: No permission or insufficient plan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                message: >-
                  You don't have permission or have an insufficient plan to use explorer
          x-gitbook-description-html: <p>No permission or insufficient plan</p>
        "404":
          description: Application not found or invalid path
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                appNotFound:
                  value:
                    message: Application not found
                  summary: Application not found
                invalidPath:
                  value:
                    message: Invalid path format
                  summary: Invalid path
          x-gitbook-description-html: <p>Application not found or invalid path</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Create a new file or directory in the application
                    marks: []
      x-gitbook-description-html: <p>Create a new file or directory in the application</p>
  /app/{appID}/explorer/open:
    get:
      tags:
        - Applications
      summary: Open/read file
      description: Read the contents of a file in the application
      operationId: openExplorer
      parameters:
        - name: appID
          in: path
          required: true
          description: ID of the application
          schema:
            type: string
          x-gitbook-description-html: <p>ID of the application</p>
        - name: cPath
          in: query
          required: true
          description: Full file path
          schema:
            type: string
          x-gitbook-description-html: <p>Full file path</p>
      responses:
        "200":
          description: File opened successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExplorerOpenResponse"
              example:
                status: ok
                path: /root/app/index.js
                name: index.js
                content: console.log('Hello World');
                message: ""
          x-gitbook-description-html: <p>File opened successfully</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "403":
          description: No permission or insufficient plan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                message: >-
                  You don't have permission or have an insufficient plan to use explorer
          x-gitbook-description-html: <p>No permission or insufficient plan</p>
        "404":
          description: File not found or invalid path
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                fileNotFound:
                  value:
                    message: File not found
                  summary: File not found
                invalidPath:
                  value:
                    message: Invalid path format
                  summary: Invalid path
          x-gitbook-description-html: <p>File not found or invalid path</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Read the contents of a file in the application
                    marks: []
      x-gitbook-description-html: <p>Read the contents of a file in the application</p>
  /app/{appID}/explorer/edit:
    put:
      tags:
        - Applications
      summary: Edit file
      description: Edit the contents of a file in the application
      operationId: editExplorer
      parameters:
        - name: appID
          in: path
          required: true
          description: ID of the application
          schema:
            type: string
          x-gitbook-description-html: <p>ID of the application</p>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExplorerEditRequest"
      responses:
        "200":
          description: File edited successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExplorerOperationResponse"
              example:
                status: ok
                path: /root/app/index.js
          x-gitbook-description-html: <p>File edited successfully</p>
        "400":
          description: Bad request - missing required fields
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                message: "Missing required fields: cPath, fileContent"
          x-gitbook-description-html: <p>Bad request - missing required fields</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "403":
          description: No permission or insufficient plan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                message: >-
                  You don't have permission or have an insufficient plan to use explorer
          x-gitbook-description-html: <p>No permission or insufficient plan</p>
        "404":
          description: File not found or invalid path
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                fileNotFound:
                  value:
                    message: File not found
                  summary: File not found
                invalidPath:
                  value:
                    message: Invalid path format
                  summary: Invalid path
          x-gitbook-description-html: <p>File not found or invalid path</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Edit the contents of a file in the application
                    marks: []
      x-gitbook-description-html: <p>Edit the contents of a file in the application</p>
  /app/{appID}/exec:
    put:
      tags:
        - Applications
      summary: Execute command in container
      description: Execute a command inside the application container
      operationId: execCommand
      parameters:
        - name: appID
          in: path
          required: true
          description: ID of the application
          schema:
            type: string
          x-gitbook-description-html: <p>ID of the application</p>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecRequest"
            example:
              cmd: ls -la
      responses:
        "200":
          description: Command executed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecResponse"
              example:
                status: ok
                statusCode: 200
                message: ok
                exec:
                  stdout: |-
                    total 48
                    drwxr-xr-x 5 user user 4096 Dec 17 10:30 .
                    ...
                  stderr: ""
                  exitCode: 0
          x-gitbook-description-html: <p>Command executed successfully</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "403":
          description: No permission - only app owner can execute commands
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                status: error
                message: You do not have permission to execute commands
          x-gitbook-description-html: <p>No permission - only app owner can execute commands</p>
        "404":
          description: Application not found or offline
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecResponse"
              example:
                status: error
                statusCode: 404
                message: app offline
                exec: null
          x-gitbook-description-html: <p>Application not found or offline</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Execute a command inside the application container
                    marks: []
      x-gitbook-description-html: <p>Execute a command inside the application container</p>
  /app/{appID}/delete:
    delete:
      tags:
        - Applications
      summary: Delete application
      description: Permanently deletes an application
      operationId: deleteApp
      parameters:
        - name: appID
          in: path
          required: true
          description: ID of the application to delete
          schema:
            type: string
          x-gitbook-description-html: <p>ID of the application to delete</p>
      responses:
        "200":
          description: Application deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AppDeleteResponse"
              example:
                status: ok
                message: Your application has been removed.
          x-gitbook-description-html: <p>Application deleted successfully</p>
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                noToken:
                  value:
                    message: Block
                  summary: No token provided
                invalidToken:
                  value:
                    message: Please provide a valid token
                  summary: Invalid token provided
          x-gitbook-description-html: <p>Authentication error</p>
        "404":
          description: Application not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadErrorResponse"
              example:
                status: error
                message: App not found
          x-gitbook-description-html: <p>Application not found</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: Permanently deletes an application
                    marks: []
      x-gitbook-description-html: <p>Permanently deletes an application</p>
  /subdomain/all:
    get:
      tags:
        - Subdomains
      summary: List subdomains
      description: Returns all subdomains of the authenticated user. Requires Platinum plan or higher.
      operationId: listSubdomains
      responses:
        "200":
          description: List of subdomains returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubdomainListResponse"
              example:
                status: ok
                subdomains:
                  - id: meu-subdomain
                    userID: "803658045736878080"
                    status: 1
                    date: 1745100000000
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient plan
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /subdomain/{subdomainName}:
    get:
      tags:
        - Subdomains
      summary: Get subdomain
      description: Returns information about a specific subdomain of the user. Requires Platinum plan or higher.
      operationId: getSubdomain
      parameters:
        - name: subdomainName
          in: path
          required: true
          description: Subdomain name (without the .discloud.app suffix)
          schema:
            type: string
      responses:
        "200":
          description: Subdomain returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubdomainResponse"
              example:
                status: ok
                subdomain:
                  id: meu-subdomain
                  userID: "803658045736878080"
                  status: 1
                  date: 1745100000000
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient plan or no permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Subdomain not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Subdomain already registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    post:
      tags:
        - Subdomains
      summary: Create subdomain
      description: Creates a new subdomain. Requires Platinum plan or higher. Maximum of 100 subdomains per user.
      operationId: createSubdomain
      parameters:
        - name: subdomainName
          in: path
          required: true
          description: Desired subdomain name (without the .discloud.app suffix)
          schema:
            type: string
            pattern: "^[a-z0-9-]{2,20}$"
      responses:
        "201":
          description: Subdomain created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubdomainResponse"
              example:
                status: ok
                message: Subdomain created successfully
                subdomain:
                  id: meu-subdomain
                  userID: "803658045736878080"
                  status: 1
                  date: 1745100000000
        "400":
          description: Invalid subdomain name or inappropriate word
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient plan or limit reached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Subdomain already registered
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

    delete:
      tags:
        - Subdomains
      summary: Delete subdomain
      description: Deletes a user's subdomain. Cannot delete subdomains that are in use (status 2). Requires Platinum plan or higher.
      operationId: deleteSubdomain
      parameters:
        - name: subdomainName
          in: path
          required: true
          description: Subdomain name to be deleted
          schema:
            type: string
      responses:
        "200":
          description: Subdomain deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              example:
                status: ok
                message: Subdomain removed successfully
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Insufficient plan or no permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Subdomain not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Subdomain in use
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /customdomain/all:
    get:
      tags:
        - Custom Domains
      summary: List custom domains
      description: Returns all custom domains of the authenticated user.
      operationId: listCustomDomains
      responses:
        "200":
          description: List of custom domains returned successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomDomainListResponse"
              example:
                status: ok
                domains:
                  - id: example.com
                    dns_status: active
                    date: 1745100000000
                    isLegacy: false
                    app:
                      id: "1719010867306"
                      name: example.com
                      online: true
                      type: 1
                    instructions:
                      - type: A
                        name: example.com
                        content: 192.0.2.1
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /customdomain/create:
    post:
      tags:
        - Custom Domains
      summary: Create custom domain
      description: Creates a new custom domain and links it to an app.
      operationId: createCustomDomain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - domainName
                - appID
              properties:
                domainName:
                  type: string
                  description: Desired custom domain name
                appID:
                  type: string
                  description: App ID to link
      responses:
        "200":
          description: Custom domain created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomDomainResponse"
              example:
                status: ok
                message: Custom domain registered successfully
                domain:
                  id: example.com
                  dns_status: pending_check
                  instructions:
                    - type: A
                      name: example.com
                      content: 192.0.2.1
                  app:
                    id: "1719010867306"
                    name: "1719010867306.discloud.app"
        "400":
          description: Invalid domain format
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Plan limit reached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: App not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Domain already registered or app already has a custom domain
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: External API error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /customdomain/{domainName}/edit:
    put:
      tags:
        - Custom Domains
      summary: Edit custom domain link
      description: Moves a custom domain to another app.
      operationId: editCustomDomain
      parameters:
        - name: domainName
          in: path
          required: true
          description: Custom domain to move
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - newAppID
              properties:
                newAppID:
                  type: string
                  description: New app ID
      responses:
        "200":
          description: Custom domain edited successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  migrated:
                    type: boolean
                  domain:
                    type: string
              example:
                status: ok
                message: Domain edited successfully
                migrated: false
                domain: example.com
        "400":
          description: Invalid operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: No permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Domain or app not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: App already has another custom domain
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: Migration error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /customdomain/{domainName}/remove:
    delete:
      tags:
        - Custom Domains
      summary: Remove custom domain
      description: Removes a custom domain from the user and unlinks it from the app.
      operationId: removeCustomDomain
      parameters:
        - name: domainName
          in: path
          required: true
          description: Custom domain to remove
          schema:
            type: string
      responses:
        "200":
          description: Custom domain removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  domain:
                    type: string
              example:
                status: ok
                message: Domain removed successfully
                domain: example.com
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: No permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: External API error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /customdomain/{domainName}/verify:
    get:
      tags:
        - Custom Domains
      summary: Verify custom domain DNS
      description: Checks the DNS status of a custom domain in real time.
      operationId: verifyCustomDomain
      parameters:
        - name: domainName
          in: path
          required: true
          description: Custom domain to verify
          schema:
            type: string
      responses:
        "200":
          description: DNS status returned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  domain:
                    $ref: "#/components/schemas/CustomDomain"
              example:
                status: ok
                domain:
                  id: example.com
                  dns_status: active
                  valid: true
                  message: DNS is correctly configured
                  app:
                    id: "1719010867306"
                    name: example.com
                    online: true
        "401":
          description: Authentication error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: No permission
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Domain not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: External API error
          content:
[...]
